/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Sora:wght@300;400&display=swap");

/* UNIVERSAL RESET */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ROOT VARIABLE PRESETS */
:root {
    --nav-font: font-family: 'Montserrat', sans-serif;
    --product-font: font-family: 'Sora', sans-serif;
}

a, li {
  text-decoration: none;
  list-style-type: none;
}

h2, a, h3 {
  font-family: 'Montserrat' , sans-serif;
}

/* NAVIGATION */
.navbar {
  display: flex;
  height: 10vh;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.navbar ul {
  display: flex;
  
}

.navbar ul li {
  margin: 0 1.5rem;
}

.navbar ul li a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
}

.navbar ul li a:hover {
  border-bottom: 1.5px solid black;
}

.navbar ul li .current {
  background-color: black;
  color: white;
  padding: .5rem;
  border-radius: 5px;
}

.navbar ul li .current:hover {
  background-color: black;
  color: white;
  padding: .5rem;
  border-radius: 5px;
  border-bottom: none;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.fa-shopping-cart {
  font-size: 1.4rem;
}

.fa-search {
  cursor: pointer;
  font-size: 1.4rem;
}
.cart-items {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: .1rem .5rem;
  background-color: rgb(192, 21, 21);
  border-radius: 100%;
  color: white;
}

/* OVERLAY */

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 9%, 0.596);
  z-index: 2;
  visibility: hidden;
}

/* CART */
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
  visibility: hidden;
  transform: translateX(100%);
  padding: 2rem;
}

@media  screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.showCart {
  transform: translateX(0);
  visibility: visible;
}

.transparentBg {
  visibility: visible;
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1rem;
}
.cart-footer h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.clear-cart {
  border: none;
  padding: 1rem;
  background-color: rgb(192, 21, 21);
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1rem;
  cursor: pointer;
}